<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="base">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="content" layout:fragment="content">
    <h2 th:text="${ticket.artistName + ' ' + ticket.name}">aaa</h2>
    <ul th:each="variation : ${variations}">
        <li class="variation">
            <form method="POST" action="/buy">
                <input type="hidden" name="ticket_id" th:value="${ticket.id}"/>
                <input type="hidden" name="variation_id" th:value="${variation.id}"/>
                <span class="variation_name" th:text="${variation.name}">aaa</span> 残り<span class="vacancy"
                                                                                            th:id="'vacancy_' + ${variation.id}"
                                                                                            th:text="${variation.vacancy}">999</span>席
                <input type="text" name="member_id" value=""/>
                <input type="submit" value="購入"/>
            </form>
        </li>
    </ul>

    <h3>席状況</h3>

    <div th:each="variation : ${variations}">
        <h4 th:text="${variation.name}">aaa</h4>
        <table class="seats" th:attr="data-variationid=${variation.id}">
            <tr th:each="i: ${#numbers.sequence(0, 63)}">
                <td th:each="j: ${#numbers.sequence(0, 63)}"
                    th:with="stockkey=${#numbers.formatInteger(i, 2) + '-' + #numbers.formatInteger(j, 2)}"
                    th:class="${variation.stocks.get(stockkey) == true ? 'available': 'unavailable'}">
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
